html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

div {
    display: flex;
    flex: 1;
}

#mainDiv {
    aspect-ratio: 1 / 1;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px;
    border-color: darkcyan;
    border-style: solid;
    border-radius: 10px;
    margin: 40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#author {
    display: flex;
    margin: 20px;
}

#datePlace {
    display: flex;
    margin: 20px;
    justify-content: flex-end;
}

.header {
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 40px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
    border-color: darkcyan;
    border: 1px;
  }

#menu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#squareNumberSelector {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#sliderLabel {
    margin: 10px;
    font-size: 20px;
}
   
svg { 
    margin: 40px;
}
     
#button {
    cursor: pointer;
}
     
.graphe_container {
    -moz-transform-origin: 160px 160px;
    -ms-transform-origin:  160px 160px;
    -o-transform-origin: 160px 160px;
    -webkit-transform-origin:  160px 160px;
    transform-origin: 160px 160px;
}
     
rect,circle {
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
}


.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 100;
  justify-content: center;
  line-height: 1.25;
  margin: 40px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
